*~
*egg-info*
*__pycache__*
aa.png

.DS_Store

/bin.save/
/bin/save/
/build/
/.idea/
/.idea_save/


/dist/
*.srctrl*

/src.save/
/bin/gaga_garf_generate_img.save
/bin/gaga_garf_generate_img_old
/src/gaga.save.py
/src/gaga.save2.py

/tests/*.npy
/tests/npy/*.npy
/tests/*pth
/tests/*pt

/save/

/notes-push-to-pypi.txt

/gitrefs
/old
/tests/old/
/tests/jobs
/tests_old
/tests/a.pdf
/tests/jz/
/tests/output/

*OLD*
/gaga/gaga_helpers_pet_before_dw_change.py
*.save
/bin/gaga_add_param_to_G
/bin/gaga_test_G_with_transform

/tests/*.png
