*~
*egg-info*
*__pycache__*
aa.png

/bin.save/
/build/
/.idea/

/dist/
*.srctrl*

/src.save/
/bin/gaga_garf_generate_img.save
/bin/gaga_garf_generate_img_old
/src/gaga.save.py
/src/gaga.save2.py

/tests/

/notes-push-to-pypi.txt
